/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    transition: background-color 1s ease;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

header h1 {
    float: left;
}

header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 60px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

section h2 {
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
}

section ul li {
    margin-bottom: 5px;
}
/* Bullet points styling */
ul {
    list-style-type: disc; /* Default bullet style */
    padding-left: 20px; /* Indentation for bullets */
}

li {
    margin-bottom: 10px; /* Space between bullet points */
}


footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-photo {
    width: 300px; /* Square width */
    height: 300px; /* Square height */
    background-color: #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.about-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    max-width: 600px; /* Optional: to limit the width of the text content */
}

.experience-item, .project-item {
    margin-bottom: 30px;
}

.project-item {
    display: inline-block;
    width: calc(50% - 20px); /* Adjust based on desired spacing */
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.project-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Ensure even spacing in the project section */
@media (min-width: 768px) {
    .project-item:nth-child(odd) {
        margin-right: 10px;
    }
}
